


/*Burger menu*/
 @media(max-width: 1090px){
       
.mobile__section {
    position: fixed;
    top: 16px;
    right: 10px;
    z-index: 10;
}


.menu__btn {
    display: block;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    border-radius: 10px;
    
}
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -10.5px; 
    margin-top: -1px;
    width: 20px;
    height: 2px;
    background-color: rgb(8, 8, 8);
} 

.menu__btn span::before,
.menu__btn span::after {
    content: '';
    display: block;
    transition: 1s;
}
.menu__btn span::before {
    transform: translateY(-5px);
}
.menu__btn span::after {
    transform: translateY(5px);
}

.menu__btn_active span::before {
    transform: rotate(35deg);
    transform-origin:right bottom;
    width: 10px;

}

.menu__btn_active span::after{
    transform: rotate(-35deg);
    transform-origin:right top;
    width: 10px;
}
  .wrapper {
      position: fixed;
      z-index: 10;
      height: 100vh;
      width: 100vw;
      background-color: rgba(26, 25, 25, 0.8);
      transition: 1s ease-in-out;
      transform:  translateX(200%);
  }
      .wrapper_show{
transform: translateX(0%);
      }

  .s-l-icon ul {
      padding: 0;
      margin: 0;
  }
 
.s-l-icon ul a {
    display: inline-flex;
    justify-content: space-between;
        font-size: 20px;
    padding: 12px;
}







  .navigation ul {
    position: fixed;
    top: 248px;
    right: 115px;
     display: flex;
     flex-direction: column;
     justify-content:center ;
     text-align: center;
     font-size: 24px;
     line-height: 2.8;
     }
     li { 
        list-style-type: none;
     }
     a {
         color: rgb(253, 253, 253);
         text-decoration: none;
     }
      a:hover {
          color: #4291eb;
          text-decoration: none;
      }
      .s-l-icon {
          position: fixed;
          top: 500px;
          display: inline-block;
          text-align: center;  
          right: 64px;
          
             } 
     
       .logo {
           position: fixed;
           top: 185px;
           font-size: 30px;
           right: 118px;
           color: #fff;
       }

    }    
 
/*Video Bg for mobile*/



@media(max-width: 760px){


    .video_intro {
        max-width: 100vw;
        max-height: 100vh;
        position: relative;
    }
    .video_intro::before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        
    }
    /*.video__media{
        padding-bottom: 56.25%;
    }*/
    .video__media {
        position: absolute;
        width: 100%;
        height: 100%;
        height: auto;
        top: 0;
        left: 0;

    }
    .main_gif {
     width: 350px;
height: 350px;
position: absolute;
top: 230px;
right: 20px;
z-index: 6;
 }
 .main_gif img {
     max-width: 100%;
     max-height: 100%;
 }
 h1 {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    position: absolute;
    z-index: 6;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
}

 .main__text{
position: absolute;
z-index: 6;
color: #fff;
top: 52%;
text-align: center;
 }
   /*Infopage adaptive */

.about__box {
    background-color: #ff4747;
    background-image: linear-gradient(98deg, #ff4747, #ce3d6f);
    overflow-x: hidden;
    max-height: 841px;
max-width: 375px;
}

   .about__container {   
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #fff;
    overflow: hidden;
    max-width: 375px;
max-height: 841px;
   }

   .about__text{
       position: relative;
max-width: 320px;

color: #fff;
top: 15px;
left: 17px;
font-size: 15px;
max-width: 320px;
   }
  h2 {
      font-size: 34px;
      margin-left: 15px;
  }
  h3 {
      color: #fff;
      letter-spacing: 1px;
      line-height: 1.4;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 9px;
  }
  .about__btn { 
     position: relative;
     top: 20px;
     left: 10px;
line-height: 1;
font-size: 16px;
font-weight: 600;
text-align: center;
background: #fff;
color: #ff4747;
padding: 14px 40px;
border-radius: 30px;}

   .about__content {
    width: 100%; 
    }
    

    .about__content p {
        display: inline;
        font-size: 15px;
        line-height: 1.3;  
    }

    p {
        white-space: pre-line;
        
    }
    .about__video__container{
        max-height: 214px;
        max-width: 336px;
        margin-top: 30px;
    }
    .about__this__video {
        max-height: 214px;
max-width: 375px;
    }
    .about__video {
        max-width: 100%;
        max-height: 100%;
    }
    .about__video__img {
        background:  url("../img/DSC08898фул.jpg") center/cover;
       position: absolute;
        width: 336px;
        height: 188px;
        z-index: 1;
    }
    
    .a_video_img_bg {
        width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0c0e14, rgba(12, 14, 20, 0));
    z-index: 2;

}
.about__vid__play_btn {
    position: relative;
width: 90px;
height: 90px;
border-radius: 90px;
background-color: rgba(12, 14, 20, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 12;
    bottom: 134px;
left: 122px;
}
.about__vid__play_btn svg {
    fill: #fff;
}
  
.about__vid__play_btn svg:hover {
    color: #4291eb;
}
}

/*Split for Mobile*/
@media(max-width: 1000px){
 #main-cont {
          height: 100vh;
          position: relative;
          width: 100%;
         }
         .split {
             position: absolute;
             width: 330px;
             height: 677px;
             overflow: hidden;
             
         }
         
         .split.left {
            
            background-repeat: no-repeat;
            background-size: cover;
        background-color: #1f2330;
            position: absolute;
            border-radius: 40px;
            top: 765px;
            right: 15px;
         }

         .split_avatar {
             width: 100%;
             height: 30%;
             overflow: hidden;
             position: relative;     
            top: 50px;

         }
         .split_avatar img {
             width: 100%;
             position: relative;
             top: -50px;
         }

         .split.left::before {
             content: '';
             position: absolute;
             width: 100%;
             height: 100%;
             
         }

         hr {
             position: relative;
            height: 0.5px;
            width: 330px;
            color: #666;
            top: 85px;
            z-index: 6;
         }

         .split.right {
             
             background-color: #1f2330;
             background-repeat: no-repeat;
             background-size: cover;
             border-radius: 40px;
             right: 45px;
            }


            .split.right::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                
            }


           
           
             

             .btn{
                 padding: 1.2rem;
                 width: 12rem;
             }
            }