
html,body {
    padding: 0;
    margin: 0;
    background-color: rgb(26, 24, 24);
    height: 100vh;
}





@media(min-width: 1100px){
.navbar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 34px;
    z-index: 10;
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(26, 25, 25, 0.3);
    font-weight: 600;
    font-size: 17px;
    transition: top 0.5s ease-in-out;
    }
        

        .logo {
           cursor: pointer;
            right: 100px;
        }
        .logo img {
            width: 85px;
        }

        .logo_mobile {
            display: none;
        }

        .navbar.hide {
            top: -100px;
        }
    

   

.navbar ul li {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 60px;
} 

ul {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content:center ;
     text-align: center;
     }
     li { 
        list-style-type: none;
        text-transform: uppercase;
     }
     a {
         color: rgb(253, 253, 253);
         text-decoration: none;
     }
      a:hover {
          color: #4291eb;
          text-decoration: none;
      }
      @media(min-width: 1500px){
      .s-l-icon {
          display: inline-block;
          text-align: left;  
          margin-right: 40px;
             } 
      i {
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        margin-right: 20px;
        opacity: 0.6;
       }
    }
}


:root{

    --items: 22;
    --item-width: 800px;
    --item-separation: 80px;
    --viewer-distance: 400px;



    --theta: 0,2855993321445266;
    --apothem: 482.842712474619px;
}

.carousel {
height: 900px;
width: 1200px;
    
      padding: 20px;

  perspective: var(--viewer-distance);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
 position: absolute;
 top: 200px;
 left: 170px;
}

figure {
    margin: 0;

    width: var(--item-width);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% (var(--apothem));
}
    img {
      width: 100%;
      box-sizing: border-box;
      padding: 0 var(--item-separation) / 2;
        height: 100%;
      opacity: 0.9; 
    }

        .carousel figure img:not(:first-of-type) {
      position: absolute;
      left: 0;
      top: 0;
    }

        .img:not(:first-of-type) {
      transform-origin: 50% 50% (var(--apothem));
    }

    nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    }
    .button {
      flex: 0 0 auto;
      margin: 0 5px;
      
      cursor: pointer;
      
      color: #333;
      background: none;
      border: 1px solid;
      letter-spacing: 1px;
      padding: 5px 10px;
    }